* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: rgb(107, 208, 221);
    color: #000;
    margin-top: 20px;
}

footer {
    padding: 20px 10px 0 10px;
    background-color:rgb(107, 208, 221);
    margin-bottom: 0;
    margin-top: 8%;
    overflow: hidden;
}

.center {
    text-align: center;
}

a {
    color: #000;
}

footer a:hover {
    color: rgb(157, 75, 233);
    text-decoration: none;
}
.card2{
    cursor: pointer;
}

.card2:hover {
    transform: scale(1.1);
    transition: .4s;
}

.tab-content{
    padding-top: 10px;
}